.search-input {
  width: 100%;
  border: 30px solid #283643;
  padding: 30px;
  height: 33px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #668DAC;
}

.searchTerm:focus{
  color: #00B4CC;
}

/*Resize the wrap to see the search bar change!*/
