.search {
  padding: 30px;





}
.search-input {
  width: 100%;
  border: 30px solid #668DAC;
  padding: 30px;
  height: 33px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #668DAC;
  background-color: #283643;
}

.searchTerm:focus{
  color: #00B4CC;
}

/*Resize the wrap to see the search bar change!*/
