.search {
  padding: 30px;
}
.search-input {
  width: 50%;
  position: center;
  border: 30px solid #658CAB;
  padding: 30px;
  height: 33px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #658CAB;
  background-color: #283643;
}

.search-input:focus {
   background-color: #658CAB;
   border: 30px solid #283643;
   color: #283643;
   width: 100%;
}

.searchTerm:focus{
  color: #00B4CC;
}

/*Resize the wrap to see the search bar change!*/
