---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
<div class="center">
  <div id="particles-js"></div>
	<script type="text/javascript" src="particles.js"></script>
	<script type="text/javascript" src="app.js"></script>

    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}/home">
                        <img src="logo.png" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}/home">
                        	<p style="font-size:1.2rem;font-weight:500">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">

                    <h3 class="title">
                        <a href="{{ site.url }}/home">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>

                    <h1><span class="type"></span></h1>

  <script type="text/javascript" src="{{ site.typed }}"></script>
  <script type="text/javascript">
    var typed = new Typed(".type",{
  strings: ["import json","json.dump( 'Hello', sys.stdout )","about_me= { 'Name': 'Kaushik'","'version' : 1.0","'Age' : 22","'Desc' : 'Happy-go-lucky'","'Occupation' : 'Student' }","json.load( about_me ) ^5000"],
  typeSpeed: 50,
  backSpeed: 50,
  loop: true,
  showCursor: true,
 cursorChar: '|',
 smartBackspace: true
});
</script>
                    {% include social-links.html %}
                    <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About Me
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    </div>
</body>
</html>
