
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
  <style type="text/css">
    body {

        cursor: url({{ site.url }}/abc.cur),default;
    }
   </style>
    {% include head.html %}

</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
          <div class="cursor"></div>
            <div class="row">
                    <a href="{{ site.url }}/home">
                        <img src="{{ site.url }}/assets/img/logo.png" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}/home">
                        	<p style="font-size:1.2rem;font-weight:500">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">

                    <h3 class="title">
                        <a href="{{ site.url }}/home">
                        	<p style="font-size:1rem;font-weight:500">{{ site.bio }}</p>
			            </a>
                    </h3>

                    <h1><span class="type"></span></h1>

  <script type="text/javascript" src="{{ site.typed }}"></script>
  <script type="text/javascript">
    var typed = new Typed(".type",{
  strings: ["import json","json.dump( 'Hello', sys.stdout )","Name : Kaushik","Age : 22","Desc : Happy-go-lucky","Occupation : Student","Major : Datascience"," Code ON!  ^5000"],
  typeSpeed: 50,
  backSpeed: 50,
  loop: true,
  showCursor: true,
 cursorChar: '|',
 smartBackspace: true
});
</script>
                    {% include social-links.html %}
                    <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About Me
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                 </h3>
            </div>
        </div>

    </header>
    {% include scripts.html %}
    <script>
      const cursor = document.querySelector('.cursor');

document.addEventListener('mousemove', e => {
    cursor.setAttribute("style", "top: "+(e.pageY - 9)+"px; left: "+(e.pageX - 10)+"px;")
})

document.addEventListener('click', () => {
    cursor.classList.add("expand");

    setTimeout(() => {
        cursor.classList.remove("expand");
    }, 500)
})
      </script>

</body>
</html>
