
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
  <style type="text/css">
    body {

        cursor: url({{ site.url }}/abc.cur),default;
    }
   .type {
     color: black;
     font-family:courier;
     font-variant:small-caps;
   }
   </style>
    {% include head.html %}

</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
          <div class="cursor"></div>
            <div class="row">
                    <a href="{{ site.url }}/home">
                        <img src="{{ site.url }}/assets/img/logo.png" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}/home">
                        	<p style="font-size:1.5rem;font-weight:700;font-family:courier;">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">

                    <h3 class="title">
                        <a href="{{ site.url }}/home">
                        	<p style="font-size:1rem;font-weight:400;font-family:courier;">{{ site.bio }}</p>
			            </a>
                    </h3>

                    <h1><span class="type"></span></h1>

  <script type="text/javascript" src="{{ site.typed }}"></script>
  <script type="text/javascript">
    var typed = new Typed(".type",{
  strings: ["Hello There!^500","Welcome","To My Portfolio","I'm Kaushik","Feel Free To Look Around",
  "And","If You Like What You See","Drop Me A Message"," Ciao!^5000", "Oh?!",
  "You're Still Here?", "Alrighty then", "Now that You're Busted", "You Gotta Listen To My Rant",
  "Don't Worry", "I Won't Take Long", "Here Goes Nothing...", "Ehm..", "The Human Mind", "Ehm..",
  "Is A Pitif","Is A Powerful Place", "And","In The Grand Scheme Of Things", "That Revolve Around Data Science",
    "There Are A Few Simple Things", "That Fascinate Me The Most", "And Probably You Too!", "...",
  "The Ingenuity Of The Numbers","The Ingenuity Of The Data","The Ingenuity Of The Problem","The Ingenuity Of The Strategy",
    "The Inherent Flexibility","The Inherent Freedom","To Hunt For Answers","To Hunt For Patterns","To Hunt For Results",
     "The Revelation Of Insights",
  "The Revelation Of Logic","Buried Deep Inside The Data", "...", "The Logic", "Oh, The Absolute Logic",
"So Much More Rational", "So Much More Genuine", "So Much More Complex","Than I Ever Thought Of", "And Finally",
"The Renewal Of Thought", "That Promotes","That Provokes","Inductive Chain Learning", "Which Exposes Us To New Concepts",
"That Help In Solving", "Previously Inaccessible Problems", "Truly Magnificient!","...", "Um..If You're Still Here"
, "Thanks For Sticking Around", "Now Off You GO!^8000" ],
  typeSpeed: 40,
  backSpeed: 15,
  loop: true,
  showCursor: true,
 cursorChar: '|',
 smartBackspace: true,
 startDelay: 2500,
 backDelay: 800
});
</script>
                    {% include social-links.html %}
                    <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About Me
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                 </h3>
            </div>
        </div>

    </header>
    {% include scripts.html %}
    <script>
      const cursor = document.querySelector('.cursor');

document.addEventListener('mousemove', e => {
    cursor.setAttribute("style", "top: "+(e.pageY - 9)+"px; left: "+(e.pageX - 10)+"px;")
})

document.addEventListener('click', () => {
    cursor.classList.add("expand");

    setTimeout(() => {
        cursor.classList.remove("expand");
    }, 500)
})
      </script>

</body>
</html>
